<div class="row py-5">
    <div class="col-sm-12 col-md-4 col-lg-4 m-auto">
        <MessageView Icon="bi-lock fs-2 text-danger"
                     Title="@Label.AppAccessDeniedTitle"
                     Message="@Label.AppAccessDeniedMessage" />
    </div>
</div>
