<div class="d-flex align-items-center gap-1">
    <span style="background-color: rgb(@RGBColor)" class="badge p-1 rounded-circle">
        <span class="d-none">Colors</span>
    </span>
    @Description
</div>
