@media (min-width: 641px) {
    .mountain, .mountain-two, .mountain-three, .mountain-four {
        right: 3rem;
        bottom: 0;
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid #224478;
        z-index: 1;
    }

    .mountain-two {
        right: 4rem;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid #d7e3f4;
        z-index: 0;
    }

    .mountain-three {
        right: 5rem;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 40px solid #afc6e9;
        z-index: 0;
    }

    .mountain-four {
        right: 6rem;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid #3771c8;
        z-index: 0;
    }

    .cloud-moving, .cloud-moving:before, .cloud-moving:after, .cloud, .cloud:before, .cloud:after {
        position: absolute;
        width: 45px;
        height: 20px;
        background: #f8f8f8;
        -webkit-border-radius: 80px / 40px;
        border-radius: 80px / 40px;
    }

    .cloud-moving {
        bottom: 10px;
        -webkit-animation: cloud 50s infinite linear;
        animation: cloud 180s infinite linear;
    }

    .cloud-moving:before, .cloud:before {
        content: '';
        left: 25px;
    }

    .cloud-moving:after, .cloud:after {
        content: '';
        left: 8px;
        top: -10px;
    }

    .cloud {
        bottom: 10px;
        right: 9rem;
    }

    .rain-drops-1, .rain-drops-2, .rain-drops-3, .rain-drops-4 {
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid #3771c8;
        transform: rotate(90deg);
    }
    .rain-drops-1 {
        left: 10px;
        width: 20px;
        -webkit-animation: rain-drop 2s infinite;
        animation: rain-drop 2s infinite;
    }

    .rain-drops-2 {
        left: 20px;
        width: 15px;
        -webkit-animation: rain-drop 3s infinite;
        animation: rain-drop 3s infinite;
    }

    .rain-drops-3 {
        left: 30px;
        width: 20px;
        -webkit-animation: rain-drop 4s infinite;
        animation: rain-drop 4s infinite;
    }

    .rain-drops-4 {
        left: 40px;
        width: 15px;
        -webkit-animation: rain-drop 5s infinite;
        animation: rain-drop 5s infinite;
    }

    .sun {
        position: absolute;
        bottom: 10px;
        right: 6.5rem;
        margin: auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ed8814;
        opacity: 0.9;
        box-shadow: 0px 0px 40px 15px #ed8814;
        z-index: -1;
    }

    .ray_box {
        position: absolute;
        margin: auto;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 30px;
    }

    .moon {
        position: absolute;
        bottom: 18px;
        right: 7.5rem;
        margin: auto;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 10px 5px 0px 0px #f4a421;
        z-index: -1;
    }
}

@-webkit-keyframes cloud {
    0% {
        right: -45px;
    }

    100% {
        right: calc(100% + 45px);
    }
}

@keyframes cloud {
    0% {
        right: -45px;
    }

    100% {
        right: calc(100% + 45px);
    }
}

@-webkit-keyframes rain-drop {
    0% {
        bottom: 8px;
    }

    100% {
        opacity: 0;
        bottom: 0;
    }
}

@keyframes rain-drop {
    0% {
        bottom: 8px;
    }

    100% {
        opacity: 0;
        bottom: -8px;
    }
}
