@media print {
    body {
        background-color: white !important;
        color: black !important;
    }
    body *, .modal-content .modal-footer *, .modal-content .modal-header button {
        visibility: hidden;
    }
    .main-page * {
        display: none;
    }
    .modal {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        min-height: 550px;
        visibility: visible;
        overflow: visible !important; /* Remove scrollbar for printing. */
    }
    .modal-content * {
        box-shadow: none;
        visibility: visible;
        overflow: visible;
    }
    .modal-dialog {
        width: 100% !important;
        max-width: 100% !important;
        visibility: visible !important;
        overflow: visible !important; /* Remove scrollbar for printing. */
        background-color: white !important;
        color: black !important;
    }
    .modal.show .modal-dialog, .accordion-body {
        background-color: white !important;
        color: black !important;
        padding: 0;
    }
}
