html, body {
    height: 100%;
}

a, .btn-link {
    text-decoration: none;
}

a:hover {
    color: #493640;
}

input[disabled] {
    cursor: not-allowed;
}

.form-control, .form-control:focus, .form-select, .form-select:focus {
    outline: none;
    box-shadow: none;
}

.form-select:disabled {
    background-color: transparent;
    border: none;
}

/* Remove margin when hovering */
.btn-group > :not(.btn-check:first-child) + .btn {
    margin-left: 0;
}

h1:focus {
    outline: none;
}

.table {
    vertical-align: middle;
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.accordion-button:focus {
    box-shadow: none;
}

.app-outline-none {
    outline: none;
}
.app-bg-color-mode {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}
.app-text-shadow-dark {
    text-shadow: 1px 1px 2px #000;
}

.app-text-shadow-light {
    text-shadow: 1px 1px 2px #fff;
}

.app-offcanvas-backdrop {
    background-color: rgb(0 0 0 / 28%);
}
.app-offcanvas-backdrop.show {
    opacity: 1;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.app-calendar-text {
    font-size: 0.6rem;
}

.app-text-background-danger {
    background-image: linear-gradient( 0, var(--bs-danger-bg-subtle) 50%, transparent 50% );
}

.app-text-background-dark {
    background-image: linear-gradient( 0, var(--bs-dark-bg-subtle) 50%, transparent 50% );
}

.app-text-background-info {
    background-image: linear-gradient( 0, var(--bs-info-bg-subtle) 50%, transparent 50% );
}

.app-text-background-light {
    background-image: linear-gradient( 0, var(--bs-light-bg-subtle) 50%, transparent 50% );
}

.app-text-background-primary {
    background-image: linear-gradient( 0, var(--bs-primary-bg-subtle) 50%, transparent 50% );
}

.app-text-background-success {
    background-image: linear-gradient( 0, var(--bs-success-bg-subtle) 50%, transparent 50% );
}

.app-text-background-warning {
    background-image: linear-gradient( 0, var(--bs-warning-bg-subtle) 50%, transparent 50% );
}

.app-text-background-secondary {
    background-image: linear-gradient( 0, var(--bs-secondary-bg-subtle) 50%, transparent 50% );
}

.app-calendar {
    border-style: hidden;
}

.app-calendar-cell-day {
    font-size: 0.65rem;
}

.app-calendar-cell-current-day {
    width: 23px;
    height: 23px;
}

.app-calendar > :not(caption) > * > * {
    padding: 0.25rem 0.25rem;
}

.app-calendar-height-with-subheader {
    height: calc(100% - 25px);
}

.app-calendar-cell {
    transition: background-color 0.3s, opacity 0.03s;
}

.app-calendar .app-calendar-cell:hover {
    background-color: rgba(var(--bs-primary-rgb), .08);
    opacity: 1;
}

/*
* The component Virtualize won't work if we don't set a fix height for tables
*/
.app-page-responsive-height {
    height: calc(100vh - (2.5rem + 114px));
    overflow-y: auto;
}

.app-page-background-danger {
    background-image: linear-gradient( 0, var(--bs-danger-bg-subtle) 50%, transparent 50% );
}

.app-page-background-dark {
    background-image: linear-gradient( 0, var(--bs-dark-bg-subtle) 50%, transparent 50% );
}

.app-page-background-info {
    background-image: linear-gradient( 0, var(--bs-info-bg-subtle) 50%, transparent 50% );
}

.app-page-background-light {
    background-image: linear-gradient( 0, var(--bs-light-bg-subtle) 50%, transparent 50% );
}

.app-page-background-primary {
    background-image: linear-gradient( 0, var(--bs-primary-bg-subtle) 50%, transparent 50% );
}

.app-page-background-secondary {
    background-image: linear-gradient( 0, var(--bs-secondary-bg) 50%, transparent 50% );
}

.app-page-background-success {
    background-image: linear-gradient( 0, var(--bs-success-bg-subtle) 50%, transparent 50% );
}

.app-page-background-warning {
    background-image: linear-gradient( 0, var(--bs-warning-bg-subtle) 50%, transparent 50% );
}

.app-page-responsive-height thead tr th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.app-calendar-table thead tr th {
    width: 14.28%; /* 100% divided by 7 days */
    white-space: nowrap; /* Prevents wrapping */    
}

.app-table-random-number {
    height: 269px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.btn-default {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-purple);
    --bs-btn-border-color: var(--bs-purple);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #59359a;
    --bs-btn-hover-border-color: #432874;
    --bs-btn-focus-shadow-rgb: 111,66,193;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #432874;
    --bs-btn-active-border-color: #2c1a4d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-white);
    --bs-btn-disabled-bg: var(--bs-purple);
    --bs-btn-disabled-border-color: var(--bs-purple);
}

.btn-outline-default {
    --bs-btn-color: var(--bs-purple);
    --bs-btn-border-color: var(--bs-purple);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-purple);
    --bs-btn-hover-border-color: var(--bs-purple);
    --bs-btn-focus-shadow-rgb: 111,66,193;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-purple);
    --bs-btn-active-border-color: var(--bs-purple);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-purple);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.breadcrumb-divider {
    --bs-breadcrumb-divider: '/';
}

.breadcrumb-no-divider {
    --bs-breadcrumb-divider: '';
}

.flex-container {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
}

.flex-container .flex-container-list {
    overflow-y: auto;
}

.flex-container .flex-container-list-search {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f3f2f1;
}

.flex-container .flex-container-main {
    flex-grow: 2;
}

.hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-section-left, .hero-section-right {
    width: 100%;
    height: 50vh;
}

.valid.modified:not([type=checkbox]) {
    border-color: var(--bs-success);
}

.invalid {
    border-color: var(--bs-danger);
}

.app-main-top {
    padding-top: 26px;
}

.validation-message {
    color: var(--bs-danger);
}

/* Remove it in the new App version */
.app-page-top-title {
    margin-top: -16px;
}

.app-breadcrumb {
    z-index: 1045;
}

.app-dropdown-filter {
    max-height: 180px;
}

.app-feeds-news {
    max-height: 450px;
}

.app-form-floating-label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(-.6rem);
}

[data-bs-theme=light] body {
    background-color: #eeece5;
}

[data-bs-theme=dark] .app-page-responsive-height th {
    background-color: #252a2e;
}

[data-bs-theme=light] .app-page-responsive-height th {
    background-color: #eeece5;
    /* background-color: #f8f8f8; */
}

[data-bs-theme=dark] .main {
    background-color: #252a2e;
}

[data-bs-theme=light] .main {
    background-color: #eeece5;
    /* background-color: #f8f8f8; */
}

[data-bs-theme=dark] .app-footer {
    background-color: #212529;
}

[data-bs-theme=light] .app-footer {
    background: #f1f2f1;
}

@media (max-width: 640.98px) {
    .app-dropdown-menu {
        border-color: transparent;
    }
    .app-shift-bg-danger {
        background-color: var(--bs-danger) !important;
    }
    .app-shift-bg-info {
        background-color: var(--bs-info-bg-subtle) !important;
    }
    .app-shift-bg-primary {
        background-color: var(--bs-primary-bg-subtle) !important;
    }
    .app-shift-bg-success {
        background-color: var(--bs-success-bg-subtle) !important;
    }
    .app-shift-bg-dark {
        background-color: var(--bs-dark-bg-subtle) !important;
    }
    .app-shift-bg-secondary {
        background-color: var(--bs-secondary-bg-subtle) !important;
    }
    .app-shift-bg-tertiary {
        background-color: var(--bs-tertiary-color) !important;
    }
    .app-shift-bg-warning {
        background-color: var(--bs-warning-bg-subtle) !important;
    }
}

@media (min-width: 576px) {
    .app-footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }

    .app-footer-gap {
        padding-bottom: 56px;
    }
}

@media (min-width: 768px) { 
    .app-page-responsive-height {
        height: calc(100vh - (1.5rem + 174px));
    }
}

@media (max-width: 991.98px) {
    .app-navbar {
        background-color: var(--bs-light-bg-subtle);
    }
}

@media (min-width: 992px) {
    [data-bs-theme=light] .app-navbar {
        background-color: #fcfcfd88;
    }

    [data-bs-theme=dark] .app-navbar {
        background-color: #343a4088;
    }

    .app-navbar {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }

    .content {
        width: calc(100% - 1.5rem);
    }

    .hero-section {
        flex-direction: row;
    }

    .hero-section-left, .hero-section-right {
        width: 50%;
        height: 100vh;
    }

    .app-main-top-reverse {
        margin-top: -46px;
    }
}

@media (min-width: 1200px) {
    .flex-container {
        grid-template-columns: 40% auto;
    }
}
