@page "/setup/tax"

@using MainApp.Components.Badge
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Page
@using MainApp.Components.Shared

<div class="container-lg">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex align-items-baseline">
                            <PageTopTitle Title="@(Label.AppMenuSetup + " " + Label.AppMenuSetupTax)" />
                        </div>
                        <Breadcrumb AppPageLink="@EndPoint.SetupTax" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <SetupTaxCategoryPanelLeft />
                            </div>
                            <div class="col-12 col-lg-3 d-none d-lg-block">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <FinnhubNews />
                                    </CardMiddle>
                                </CardView>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
