<h2 class="accordion-header" id="playground-heading@(Id)">
    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#accordion-collapse@(Id)"
            aria-expanded="false"
            aria-controls="accordion-collapse@(Id)">
        <div class="d-flex w-100 justify-content-between pe-5">
            @ChildContent
        </div>
    </button>
</h2>
