<div id="accordion-collapse@(Id)"
     class="accordion-collapse collapse @(IsAlwaysOpen ? "show" : "")"
     aria-labelledby="playground-heading@(Id)">
    <div class="accordion-body">
        <div class="row">
            <div class="col-12">
                @ChildContent
            </div>
        </div>
    </div>
</div>
