@using MainApp.Components.Card
@using MainApp.Components.Chart.Expense

<CardView Styles="w-100 border-0 mb-4">
    <CardMiddle>
        <ChartExpenseLast3Months />
        <hr class="py-2" />
        <NavLink href="@EndPoint.AdminExpensesCharts" target="_blank">
            <div class="w-100 btn btn-@(Size.Sm.ToString().ToLower()) btn-@(Theme.Secondary.ToString().ToLower()) @("rounded"+_appSettings.Button) @("shadow"+_appSettings.Shadow)">
                <i class="bi bi-bar-chart-line pe-1"></i>View more charts
            </div>
        </NavLink>
    </CardMiddle>
</CardView>
