@using MainApp.Components.Card
@using MainApp.Components.Badge
@using MainApp.Components.Shared
@using MainApp.Components.Chart.Expense

<CardView Styles="w-100 border-0 mb-4">
    <CardMiddle>
        <ChartExpenseLast3Months />
    </CardMiddle>
</CardView>
<CardView Styles="w-100 border-0">
    <CardMiddle>
        <SharedHeader Title="Current month"
                      Icon="bi-map"
                      IconColor="Theme.Info" />
        <div>
            <div class="mb-2 p-1 text-center rounded bg-@(Theme.Danger.ToString().ToLower())-subtle text-@(Theme.Danger.ToString().ToLower())-emphasis">
                A map image of expenses by location coming soon! &#x1F389
            </div>
            <iframe class="w-100 rounded"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12599.527008240531!2d144.73387036438893!3d-37.86305715140879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad689a90ad3e1e3%3A0x5045675218d00f0!2sWilliams%20Landing%20VIC%203027!5e0!3m2!1sen!2sau!4v1683087006515!5m2!1sen!2sau"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </CardMiddle>
</CardView>
