@page "/admin/expenses/charts"

@using MainApp.Components.Card
@using MainApp.Components.Chart.Expense
@using MainApp.Components.Message
@using MainApp.Components.Modal
@using MainApp.Components.Shared

<div class="container-lg">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <Modal @ref="_modal"
                Size="Size.Fullscreen"
                IsCloseButtonVisible="false"
                IsModalDialogBordered="false"
                ModalContentStyle="main">
                <Title>
                    @Label.AppChart
                </Title>
                <Body>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 d-flex flex-sm-column flex-md-row justify-content-center">
                            <CardView Styles="w-100 border-0 mb-4">
                                <CardMiddle>
                                    <ChartExpenseTop5 ChartType="ChartType.bar" ChartConfigOption="_chartConfigOption" />
                                </CardMiddle>
                            </CardView>
                        </div>
                        <div class="col-sm-12 col-lg-6 d-flex flex-sm-column flex-md-row justify-content-center">
                            <CardView Styles="w-100 border-0 mb-4">
                                <CardMiddle>
                                    <MapLocationExpense Width="MapSize.Width800"
                                                        Height="MapSize.Height250"
                                                        Scale="MapScale.Desktop"
                                                        PeriodRange="PeriodRange.Month"
                                                        DateRange="_dateTimeRange" />
                                </CardMiddle>
                            </CardView>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-8 d-flex flex-sm-column flex-md-row justify-content-center">
                            <CardView Styles="w-100 border-0 mb-4">
                                <CardMiddle>
                                    <ChartExpenseByMonth />
                                </CardMiddle>
                            </CardView>
                        </div>
                        <div class="col-sm-12 col-lg-4 d-flex flex-sm-column flex-md-row justify-content-center">
                            <CardView Styles="w-100 border-0 mb-4">
                                <CardMiddle>
                                    <ChartExpenseLast5Years />
                                </CardMiddle>
                            </CardView>
                        </div>
                    </div>
                </Body>
                <Footer>
                    <div class="row">
                        <div class="col-auto">
                            <button type="button"
                                    class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary @("rounded"+_appSettings.Button)"
                                    data-dismiss="modal"
                                    @onclick="() => CloseModalAsync()">
                                @Label.AppButtonClose
                            </button>
                        </div>
                    </div>
                </Footer>
            </Modal>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
