@using MainApp.Components.Card
@using MainApp.Components.Badge
@using MainApp.Components.Shared
@using MainApp.Components.Chart.Expense
@using MainApp.Components.Dropdown.DateRange
@using MainApp.Components.Spinner

<CardView Styles="w-100 border-0 mb-4">
    <CardMiddle>
        <ChartExpenseLast3Months />
    </CardMiddle>
</CardView>
<CardView Styles="w-100 border-0">
    <CardMiddle>
        <SharedHeader Title="Purchase location"
                      Icon="bi-map"
                      IconColor="Theme.Info" />

        <div class="row pb-3">
            <div class="col-12">
                <DropdownDateRange IconColor="Theme.Info"
                                   ButtonColor="Theme.Secondary"
                                   DropdownBackground="Theme.Secondary"
                                   DateTimeRange="@_dateTimeRange"
                                   DropdownLabel="@_dropdownLabel"
                                   PeriodRange="PeriodRange.Month"
                                   OnSubmitSuccess="data => DropdownDateRangeRefresh(data)"/>
            </div>
        </div>


        @if (_isLoading)
        {
            <div class="text-center">
                <Spinner Size="Size.Sm" />
                <span>
                    Loading ...
                </span>
            </div>
        }
        else
        {
            @if (_imageURL.Length >= 0)
            {
                <img src="@_imageURL" class="img-fluid rounded" />
            }
            else
            {
                <div class="text-center p-4">
                    <i class="bi bi-image fs-2 text-@(Theme.Danger.ToString().ToLower())-emphasis"></i>
                    <div>
                        No image available!
                    </div>
                </div>
            }
        }
    </CardMiddle>
</CardView>
