@using MainApp.Components.Card
@using MainApp.Components.Spinner
@using MainApp.Components.Toast
@using MainApp.Components.Shared
@using MainApp.Components.Dropdown.DateRange

<SharedHeader Title="Incomes & Outcomes"
              Icon="bi-bar-chart-line"
              IconColor="Theme.Info" />

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <Spinner Size="Size.Sm" />
        <span class="ps-1">
            Loading ...
        </span>
    </div>
}
else
{
    <div class="row text-center py-3 align-items-center">
        <div class="col-auto">Select date range:</div>
        <div class="col-auto">
            <DropdownDateRange IconColor="Theme.Info"
                               ButtonColor="Theme.Secondary"
                               DropdownBackground="Theme.Secondary"
                               DateTimeRange="@_dateTimeRange"
                               DropdownLabel="@_dropdownLabel"
                               PeriodRange="PeriodRange.Year"
                               OnSubmitSuccess="data => DropdownDateRangeRefresh(data)" />
        </div>
    </div>

    <Chart Id="TransactionIO"
           Type="ChartType.Bar"
           Data="@(_chartConfigData)"
           OnSubmitSuccess="data => SetChartObjectReference(data)" />
}
<Toast />