@using MainApp.Components.Card
@using MainApp.Components.Spinner
@using MainApp.Components.Toast
@using MainApp.Components.Shared
@using MainApp.Components.Dropdown.DateRange

<SharedHeader Title="Incomes & Outcomes"
              Icon="bi-bar-chart-line"
              IconColor="Theme.Info" />

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <Spinner Size="Size.Sm" />
        <span class="ps-1">
            Loading ...
        </span>
    </div>
}
else
{
    <div class="row text-center py-3 align-items-center">
        <div class="col-auto">Select date range:</div>
        <div class="col-auto">
            <div class="btn-group bg-@(Theme.Secondary.ToString().ToLower())-subtle" role="group">
                <DropdownDateRange IconColor="Theme.Info"
                                   ButtonColor="Theme.Secondary"
                                   DropdownBackground="Theme.Secondary"
                                   DateTimeRange="@_dateTimeRange"
                                   DropdownLabel="@_dropdownLabel"
                                   OnSubmitSuccess="RefreshChartFromDropdownDateRange" />
                @if (_isDateTimeRangeChanged)
                {
                    <div class="d-flex align-items-center">
                        <div class="vr my-1 text-@(Theme.Secondary.ToString().ToLower())-emphasis"></div>
                        <button class="btn"
                                @onclick="ResetDateTimeRange">
                            <i class="bi bi-x-circle text-@(Theme.Dark.ToString().ToLower())-emphasis"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>

    <Chart Id="TransactionIO"
           Type="ChartType.Bar"
           Data="@(_chartConfigData)"
           OnSubmitSuccess="data => SetChartObjectReference(data)" />
}
<Toast />