@using MainApp.Components.Card
@using MainApp.Components.Badge
@using MainApp.Components.Spinner
@using MainApp.Components.Toast
@using MainApp.Components.Shared
@using MainApp.Components.Dropdown

<SharedHeader Title="Previous 3 months"
              Icon="bi-clock-history"
              IconColor="Theme.Info" />

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <Spinner Size="Size.Sm" />
        <span class="ps-1">
            Loading ...
        </span>
    </div>
}
else
{
    <Chart Id="TransactionIOLast3Months"
           Type="ChartType.Bar"
           Data="@(_chartConfigData)"
           OnSubmitSuccess="data => SetChartObjectReference(data)" />
}
<Toast />