@page "/admin/timesheet"

@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Badge
@using MainApp.Components.Spinner

<div class="container-lg">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex align-items-baseline">
                            <i class="bi bi-clock-history text-info-emphasis pe-1 fs-5" /><PageTopTitle Title="Timesheet" />
                        </div>
                        <Breadcrumb AppPageLink="@EndPoint.AdminTimesheet" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <AdminTimesheetPanelLeft OnStateContainerSetValue="DisplayPanelRight" />
                            </div>
                            <div class="col-12 col-lg-3 d-none d-lg-block">
                                @if (_isLoading)
                                {
                                    <div class="d-flex justify-content-center align-items-center">
                                        <Spinner Size="Size.Sm" />
                                        <span class="ps-2">
                                            Loading ...
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <AdminTimesheetPanelRight />
                                }
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
