@using MainApp.Components.Loader

<div class="d-flex flex-column gap-4">
    @* <CardView Styles="w-100 border-0 bg-info-subtle">
        <CardMiddle>
            <SharedHeader Title="Summary"
                          Icon="bi-file-text"
                          IconColor="Theme.Info" />
            <div class="row">
                <div class="col-12 opacity-75">
                    <div class="form-control form-control-sm bg-light-subtle text-info-emphasis p-2 border-0">
                        @if (_isLoading)
                        {
                            <Loader />
                        }
                        else
                        {
                            <div>
                                Total paid: <span class="fw-semibold">@_timesheetStateContainerDTO?.TotalPaid.ToString("C")</span>
                            </div>
                            <div>
                                Total awaiting: <span class="fw-semibold text-danger-emphasis">@_timesheetStateContainerDTO?.TotalAwaiting.ToString("C")</span>
                            </div>
                            <div>
                                Total work hours: <span class="fw-semibold">@_timesheetStateContainerDTO?.TotalHours.ToString("F2")</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </CardMiddle>
    </CardView> *@
</div>
