<section class="hero-section">
    <div class="hero-section-left d-flex align-items-center mt-1">
        <h1 class="p-5 display-4">
            <span class="text-success-emphasis app-text-background-success px-2">
                To keep it simple, save <br />
            </span>
            <span class="text-success-emphasis app-text-background-success px-2">
                money by maintaining <br />
            </span>
            <span class="text-success-emphasis app-text-background-success px-2">
                motivation and discipline.
            </span>
        </h1>
    </div>
    <div class="hero-section-right d-flex align-items-center mt-1 justify-content-end rounded-start-pill"
         style="background-image: url('img/aerial-image-of-waves-hitting-a-tree-lined-sandy-coast.jpg'); background-size: cover; background-position: right; ">
    </div>
</section>
