<section class="hero-section">
    <div class="hero-section-left d-flex align-items-center">
        <h1 class="p-5 display-3">
            This web application is using <strong>.Net</strong>, <strong>Blazor</strong> and
            <strong>C#</strong> technologies
        </h1>
    </div>
    <div class="hero-section-right d-flex align-items-center justify-content-end rounded-circle"
         style="background-image: url('https://burst.shopifycdn.com/photos/silver-coin-stack-on-left-of-image.jpg?width=925&exif=1&iptc=1'); background-size: cover;">
        <div class="p-5 text-white text-end">
            <p class="fs-5 app-text-shadow">
                To keep it simple, <br/>
                save money by maintaining <br/>
                <b>motivation</b> and <b>discipline</b>.
            </p>
        </div>
    </div>
</section>
