<div class="container-lg">
    <div class="row">
        <div class="col-12">
            <span class="text-secondary">&copy; @_currentYear.Year - @Label.AppTitle</span>
        </div>
    </div>
</div>
