<div class="container-lg">
    <div class="row">
        <div class="col-12 text-primary-emphasis">
            <span>&copy; @_currentYear.Year</span>
            <span class="d-none d-sm-inline">
                - @Label.AppTitle
            </span>
        </div>
    </div>
</div>
