<div class="container-lg">
    <div class="row d-flex">
        <div class="col-6 text-primary-emphasis">
            <span>&copy; @_currentYear.Year</span>
            <span class="d-none d-sm-inline">
                - @Label.AppTitle
            </span>
        </div>

        @*TODO: This will be a widget*@
        <div class="col-6 justify-content-end">
            <div class="mountain"></div>
            <div class="mountain-two"></div>
            <div class="mountain-three"></div>
            <div class="mountain-four"></div>
            <div class="cloud"></div>
            <div class="rain">
                <span class="rain-drops-1"></span>
                <span class="rain-drops-2"></span>
                <span class="rain-drops-3"></span>
                <span class="rain-drops-4"></span>
            </div>
            <div class="sun">
                <div class="ray_box"></div>
            </div>
        </div>
    </div>
</div>
