@using MainApp.Components.Card
@using MainApp.Components.Shared
@using MainApp.Components.Spinner

<CardView Styles="w-100 border-0">
    <CardMiddle>
        <SharedHeader Title="Spinner"
                        Icon="bi-arrow-clockwise"
                        IconColor="Theme.Dark" />
        <div class="row py-3">
            <div class="d-flex col-sm-12 col-lg-5 gap-2">
                <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-primary w-50 @("rounded"+_appSettings.Button)"
                        type="button"
                        title="Get token"
                        @onclick="ShowSpinnerAsync">
                        Show spinner
                </button>
                <button class="btn btn-@(Size.Sm.ToString().ToLower()) btn-primary w-50 @("rounded"+_appSettings.Button)"
                        type="button"
                        title="Get token"
                        @onclick="HideSpinnerAsync">
                        Hide spinner
                </button>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <div class="vr d-none d-lg-flex h-100 mx-lg-0"></div>
            </div>
            <div class="col-sm-12 col-lg-5 d-flex justify-content-center align-items-center">
                <Spinner />
            </div>
        </div>
    </CardMiddle>
</CardView>
