@using MainApp.Components.Card
@using MainApp.Components.Badge
@using MainApp.Components.Spinner
@using MainApp.Components.Toast
@using MainApp.Components.Shared

<SharedHeader Title="All Accounts"
              Icon="bi-graph-up"
              IconColor="Theme.Info" />

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <Spinner Size="Size.Sm" />
        <span class="ps-1">
            Loading ...
        </span>
    </div>
}
else
{
    <Chart Id="BankBalanceSum"
           Type="ChartType.Line"
           Data="@(_chartConfigData)"
           OnSubmitSuccess="SetChartObjectReference" />
}
<Toast />
