@using MainApp.Components.Modal
@using MainApp.Components.Tools

<Modal @ref="_modal"
       Size="Size.Md"
       IsCloseButtonVisible="true"
       ModalContentStyle="@($"bg-{Theme.Light.ToString().ToLower()}-subtle")"
       ModalBodyStyle="py-0">
    
    <Body >
        <InvestmentReturnCalculator />
    </Body>
    <Footer>
    </Footer>
</Modal>
