@page "/admin/transactions/charts"

@using MainApp.Components.Card
@using MainApp.Components.Chart.Transaction
@using MainApp.Components.Chart.Bank
@using MainApp.Components.Message
@using MainApp.Components.Modal

<div class="container-lg">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <Modal @ref="_modal"
                Size="Size.Fullscreen"
                IsCloseButtonVisible="false"
                IsModalDialogBordered="false"
                ModalContentStyle="main">
                <Title>
                    <span class="text-secondary">
                        Charts
                    </span>
                </Title>
                <Body>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <CardView Styles="w-100 border-0 mb-4">
                                <CardMiddle>
                                    <h3 class="fs-5">Daily</h3>
                                    <ChartTransactionIOByDay ChartType="ChartType.line"
                                                             DateRange="@_dateTimeRange"
                                                             PeriodRange="PeriodRange.Month" />
                                </CardMiddle>
                            </CardView>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <CardView Styles="w-100 border-0 mb-4">
                                <CardMiddle>
                                    <h3 class="fs-5">Monthly</h3>
                                    <ChartTransactionIOByMonth ChartType="ChartType.bar" />
                                </CardMiddle>
                            </CardView>
                        </div>
                    </div>
                </Body>
                <Footer>
                    <div class="row">
                        <div class="col-auto">
                            <button type="button"
                                    class="btn btn-@(Size.Sm.ToString().ToLower()) btn-outline-secondary @("rounded"+_appSettings.Button)"
                                    data-dismiss="modal"
                                    @onclick="() => CloseModalAsync()">
                                Close
                            </button>
                        </div>
                    </div>
                </Footer>
            </Modal>
        </Authorized>
            <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
