@using MainApp.Components.Modal

<Modal @ref="_modal"
       Size="Size.Md">
    <Title>
        <span class="text-secondary">
            Heads up!
        </span>
    </Title>
    <Body>
        <div class="d-flex justify-content-center text-center">
            <div>
                <i class="bi bi-info-square-fill fs-2 text-info"></i>
                <h3 class="fs-5 pb-3">Expenses cannot be archived from here</h3>
                <p  class="pb-3">Please visit page <a href="@EndPoint.AdminExpenses">Expenses</a>.</p>
            </div>
        </div>
    </Body>
    <Footer>
        <div class="row w-100 justify-content-end">
            <div class="col-sm-6 d-flex gap-2 g-0">
                <button type="button"
                        class="btn btn-outline-secondary w-100 rounded-4"
                        data-dismiss="modal"
                        @onclick="() => CloseModalAsync()">
                    Close
                </button>
            </div>
        </div>
    </Footer>
</Modal>
