@using MainApp.Components.Modal
@using MainApp.Components.Tools

<Modal @ref="_modal"
       Size="Size.Lg"
       IsCloseButtonVisible="true"
       ModalContentStyle="@($"bg-{Theme.Light.ToString().ToLower()}-subtle")"
       ModalBodyStyle="py-0">
    
    <Body>
        <InvestmentReturnCalculator InputFormAttributes="@_inputFormAttributes" />
    </Body>
    <Footer>
    </Footer>
</Modal>
