@using MainApp.Components.Card
@using MainApp.Components.Chart.Transaction

<CardView Styles="w-100 border-0 mb-4">
    <CardMiddle>
        <ChartTransactionLast3Months />
        <hr class="py-2"  />
        <a class="w-100 btn btn-@(Size.Sm.ToString().ToLower()) btn-@(Theme.Secondary.ToString().ToLower()) @("rounded"+_appSettings.Button) @("shadow"+_appSettings.Shadow)"
            href="@EndPoint.AdminTransactionsCharts"
            target="_blank">
            <i class="bi bi-bar-chart-line pe-1"></i>@Label.AppButtonViewMoreChart
        </a>
    </CardMiddle>
</CardView>
