.app-badge {
    padding: 2px 10px;
    font-size: 0.85rem;
}
.app-badge-bg-info {
    background: hsl(190deg 68% 48% / 90%);
/*    color: hsl(190deg 69% 20%);*/
}
.app-badge-bg-success {
    background: hsl(152deg 68% 48% / 90%);
/*    color: hsl(152deg 69% 20%);*/
}
.app-badge-bg-warning {
    background-color: hsl(45deg 68% 48% / 90%);
/*    color: hsl(45deg 69% 20%);*/
}
.app-badge-bg-danger {
    background-color: hsl(354deg 68% 48% / 90%);
/*    color: hsl(354deg 69% 20%);*/
}
