<div class="list-group-item list-group-item-action d-flex align-items-center">
    <div class="d-flex w-100 align-items-center">
        <div class="w-100">
            <img src="@Image" alt="Feeds Image" class="img-fluid rounded">
            <h5 class="mb-1">@Title</h5>
            <small>
                @Summary
                <NavLink href="@Url"
                         class=""
                         target="_blank">
                    Read more...
                </NavLink>
            </small>
        </div>
    </div>
</div>
