<AuthorizeView>
    <NotAuthorized>
        <div class="btn-group" role="group" aria-label="Sign in or Sign up">
            <a href="MicrosoftIdentity/Account/SignIn" class="btn bg-info-subtle text-info-emphasis @("rounded"+_appSettings.Button)"
               aria-current="signin"><i class="bi bi-box-arrow-in-right pe-1"></i>Sign In</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
