<AuthorizeView>
    <NotAuthorized>
        <div class="btn-group shadow-sm" role="group" aria-label="Sign in or Sign up">
            <a href="MicrosoftIdentity/Account/SignIn" class="btn bg-primary-subtle text-primary-emphasis"
               aria-current="signin">Sign In</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
