<AuthorizeView>
    <NotAuthorized>
        <div class="btn-group" role="group" aria-label="Sign in or Sign up">
            <a href="MicrosoftIdentity/Account/SignIn" class="btn border-info-subtle bg-light-subtle text-info-emphasis"
               aria-current="signin">Sign In</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
