@using MainApp.Components.Footer
@inherits LayoutComponentBase

<PageTitle>@Label.AppTitle</PageTitle>

<header>
    <NavView />
</header>
<div class="main app-main-shapes">
    @Body
</div>

<footer class="py-3">
    <AuthorizeView>
        <Authorized>
            <FooterViewAuthorized />
        </Authorized>
        <NotAuthorized>
            <FooterViewNotAuthorized />
        </NotAuthorized>
    </AuthorizeView>
</footer>
