@using MainApp.Components.Footer
@using MainApp.Components.Toast

@inherits LayoutComponentBase

<PageTitle>@Label.AppTitle</PageTitle>

<header>
    <CascadingValue Value="@AppSettings" Name="AppSettings">
        <NavView />
    </CascadingValue>
</header>
<div class="main app-main-top app-main-shapes">
    <CascadingValue Value="@AppSettings" Name="AppSettings">
        @Body
    </CascadingValue>
</div>
<footer class="py-3 app-footer">
    <AuthorizeView>
        <Authorized>
            <FooterViewAuthorized />
        </Authorized>
        <NotAuthorized>
            <FooterViewNotAuthorized />
        </NotAuthorized>
    </AuthorizeView>
</footer>
<Toast />
