@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using MainApp.Components.OffCanvas

<nav class="navbar navbar-expand-lg fixed-top container-fluid pb-0">
    <div class="container-fluid">
        <AuthorizeView>
            <NotAuthorized>
                <a class="navbar-brand d-flex align-items-center" href="@EndPoint.Home">
                    <img src="@Images.Logo" alt="logo" width="28" height="28" class="rounded zoom">
                </a>
            </NotAuthorized>
        </AuthorizeView>

        <button class="navbar-toggler p-2 @("rounded"+_appSettings.Button)"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasLeft"
                aria-controls="offcanvasLeft">
            <i class="bi bi-justify"></i>
        </button>

        <OffCanvasMenu />

    </div>
</nav>
