.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #afc6e9;
    color: #afc6e9;
    padding: 0.25rem;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.05rem;
}

@media (min-width: 992px) {
    .navbar-toggler, .nav-item-logout {
        display: none;
    }
}

@media (min-width: 1200px) {

}
