@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using MainApp.Components.OffCanvas

<nav class="navbar navbar-expand-lg fixed-top app-navbar shadow-sm container-lg @("rounded"+_appSettings.Menu) mt-1">
    <div class="container-lg">
        <AuthorizeView>
            <NotAuthorized>
                <a class="navbar-brand d-flex align-items-center" href="@EndPoint.Home">
                    <img src="@Images.Logo" alt="logo" width="28" height="28" class="rounded zoom">
                </a>
            </NotAuthorized>
        </AuthorizeView>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasLeft"
                aria-controls="offcanvasLeft">
            <i class="bi bi-justify"></i>
        </button>

        <OffCanvasMenu />

    </div>
</nav>
