@using MainApp.Components.Card

<CardView Styles="border-0">
    <CardMiddle Styles="p-0">
        <div @onclick="SetSettingsLocation">
            <div class="btn btn-light border-0 d-flex w-100 align-items-center @("rounded"+Radius)">
                <i class="bi bi-pin-map-fill text-info-emphasis fs-5"></i>
                <div class="w-100 text-start ps-3 pe-2">
                    <span class="d-block mb-1">@Label.AppSettingLocation</span>
                    <small class="text-secondary">@Label.AppSettingLocationParagraph</small>
                </div>
                <div class="text-secondary">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </CardMiddle>
</CardView>
