@using MainApp.Components.OffCanvas
@using MainApp.Components.Badge

@inject IJSRuntime JS

<OffCanvas @ref="_offCanvas" PositionX="Position.End" Title="Appearance">
    <fieldset class="py-5">
        <legend><i class="bi bi-moon-stars-fill text-info-emphasis fs-5 pe-2"></i>Choose dark or light mode</legend>
        <div class="row">
            <div class="col-6">
                <button type="button"
                        class="btn btn-dark w-100 text-info border-0 py-5 rounded-5"
                        data-bs-theme-value="dark"
                        @onclick="() => ChangeColorModeAsync(ColorMode.Dark)">
                    <i class="bi bi-moon-stars-fill pe-1"></i>
                    Dark
                </button>
            </div>
            <div class="col-6">
                <button type="button"
                        class="btn btn-light w-100 text-warning border-0 py-5 rounded-5"
                        data-bs-theme-value="light"
                        @onclick="() => ChangeColorModeAsync(ColorMode.Light)">
                    <i class="bi bi-sun-fill pe-1"></i>
                    Light
                </button>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-outline-secondary w-100 rounded-4"
                    @onclick="() => CloseOffCanvasAsync()">
                Close
            </button>
        </div>
    </div>
</OffCanvas>
