@using MainApp.Components.OffCanvas
@using MainApp.Components.Badge
@using MainApp.Components.ListGroup

@inject IJSRuntime JS

<OffCanvas @ref="_offCanvas" PositionX="Position.End" Title="Appearance">
    <div class="row py-5">
        <div class="col-12">
            <span class="text-secondary">Choose dark or light mode</span>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-6">
            <button type="button"
                    class="btn btn-dark w-100 text-info border-0 py-5 rounded-0"
                    data-bs-theme-value="dark"
                    @onclick="() => ChangeColorModeAsync(ColorMode.Dark)">
                <i class="bi bi-moon-stars-fill pe-1"></i>
                Dark
            </button>
        </div>
        <div class="col-6">
            <button type="button"
                    class="btn btn-light w-100 text-warning border-0 py-5 rounded-0"
                    data-bs-theme-value="light"
                    @onclick="() => ChangeColorModeAsync(ColorMode.Light)">
                <i class="bi bi-sun-fill pe-1"></i>
                Light
            </button>
        </div>
    </div>


    <div class="pb-2">
        <hr />
    </div>
    <div class="row justify-content-end">
        <div class="col-6">
            <button class="btn btn-light w-100"
                    @onclick="() => CloseOffCanvasAsync()">
                Close
            </button>
        </div>
    </div>
</OffCanvas>
