@using MainApp.Components.Card

<CardView Styles="border-0">
    <CardMiddle Styles="p-0">
        <div @onclick="SetSettingsLocation">
            <div class="btn bg-light-subtle d-flex w-100 align-items-center @("rounded"+Radius)">
                <i class="bi bi-pin-map-fill text-info-emphasis fs-5"></i>
                <div class="w-100 text-start ps-3 pe-2">
                    <h2 class="mb-1 h5">Location</h2>
                    <small class="text-secondary">Set your location for personalized content.</small>
                </div>
                <div class="text-secondary">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </CardMiddle>
</CardView>
