@page "/settings"
@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Breadcrumb

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex align-items-baseline">
                            <i class="bi bi-sliders text-info-emphasis pe-1 fs-5" /><PageTopTitle Title="Settings" />
                        </div>
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row gy-5">
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="border-0 w-100">
                                    <CardMiddle>
                                        <div class="d-grid gap-3">
                                            <SettingsAppearance OnClickSuccess="OpenAppearanceOffCanvas" />
                                            <SettingsLocation OnClickSuccess="OpenLocationOffCanvas" />
                                            <SettingsDateTime OnClickSuccess="OpenDateTimeOffCanvas" />
                                        </div>
                                    </CardMiddle>
                                </CardView>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <div class="text-center">
                                    <img src="/img/settings-light.jpg"
                                         class="img-fluid rounded-pill"
                                         alt="settings">
                                </div>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
            <SettingsAppearanceOffCanvas @ref="_settingsAppearanceOffCanvas" />
            <SettingsLocationOffCanvas @ref="_settingsLocationOffCanvas" />
            <SettingsDateTimeOffCanvas @ref="_settingsDateTimeOffCanvas" />
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
