<div class="mountain"></div>
<div class="mountain-two"></div>
<div class="mountain-three"></div>
<div class="mountain-four"></div>

@if (_isWeatherAvailable)
{
    @switch (_weatherModel?.Condition.Code)
    {
        case (int)WeatherConditionType.Cloudy:
        case (int)WeatherConditionType.Overcast:
            <div class="cloud-moving"></div>
            <div class="cloud"></div>
            break;
        case (int)WeatherConditionType.PartlyCloudy:
            <div class="cloud-moving"></div>
            <div class="cloud"></div>
            @if (_isNight)
            {
                <div class="moon"></div>
            }
            else
            {
                <div class="sun">
                    <div class="ray_box"></div>
                </div>
            }
            break;
        case (int)WeatherConditionType.Clear:
            @if (_isNight)
            {
                <div class="moon"></div>
            }
            else
            {
                <div class="sun">
                    <div class="ray_box"></div>
                </div>
            }
            break;
        case (int)WeatherConditionType.Mist:
        case (int)WeatherConditionType.Fog:
            <div class="fog" title="Mist / Fog"></div>
            @if (_isNight)
            {
                <div class="moon"></div>
            }
            else
            {
                <div class="sun">
                    <div class="ray_box"></div>
                </div>
            }
            break;
        case (int)WeatherConditionType.PatchyRainPossible:
            @if (_isNight)
            {
                <div class="moon"></div>
            }
            else
            {
                <div class="sun">
                    <div class="ray_box"></div>
                </div>
            }
            <div class="cloud-moving"></div>
            <div class="cloud">
                <span class="rain-drops-1"></span>
                <span class="rain-drops-2"></span>
                <span class="rain-drops-3"></span>
                <span class="rain-drops-4"></span>
            </div>
            break;
        case (int)WeatherConditionType.LightRain:
        case (int)WeatherConditionType.ModerateRain:
        case (int)WeatherConditionType.ModerateRainAtTimes:
        case (int)WeatherConditionType.ModerateOrHeavyRain:
        case (int)WeatherConditionType.PatchyLightRain:
            <div class="cloud-moving">
                <span class="rain-drops-1"></span>
                <span class="rain-drops-2"></span>
                <span class="rain-drops-3"></span>
                <span class="rain-drops-4"></span>
            </div>
            <div class="cloud">
                <span class="rain-drops-1"></span>
                <span class="rain-drops-2"></span>
                <span class="rain-drops-3"></span>
                <span class="rain-drops-4"></span>
            </div>
            break;
    }
}
