@page "/admin/trips"
@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Badge

<div class="container-lg">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex align-items-baseline">
                            <i class="bi bi-pin-map text-@Theme.Dark.ToString().ToLower()-emphasis pe-1 fs-5" /><PageTopTitle Title="@(Label.AppMenuAdminTrip)" />
                        </div>
                        <Breadcrumb AppPageLink="@EndPoint.AdminTrips" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row">
                            <div class="col-12">
                                <AdminTripPanelLeft />
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
