@using MainApp.Components.Card

<CardView Styles="w-100 border-0 h-100 bg-transparent d-flex flex-row align-items-center text-end">
    <CardMiddle>
        <h3 class="fs-2 pb-4">
            <span class="text-success-emphasis app-text-background-success px-2">Safety and respect on the roads</span>
        </h3>
        <p class="lead">Let us all join hands in promoting safety, adhering to laws, and fostering respect on the roads. </p>
        <p class="lead">Together, we can make a significant difference and create a positive driving experience for ourselves and those around us.</p>
    </CardMiddle>
</CardView>
