@using MainApp.Components.Card
@using MainApp.Components.Badge
@using MainApp.Components.Shared

<CardView Styles="w-100 border-0">
    <CardMiddle>
        <SharedHeader Title="Supply chain news"
                      Icon="bi-newspaper"
                      IconColor="Theme.Warning" />
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="p-4 rounded bg-@(Theme.Warning.ToString().ToLower())-subtle text-@(Theme.Warning.ToString().ToLower())-emphasis">
                Coming soon! &#x1F389
            </div>
        </div>
    </CardMiddle>
</CardView>
