@page "/setup/transaction"

@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Badge

<div class="container-lg">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex flex-row">
                            <PageTopTitle Title="Setup Transaction" />
                            <sup>
                                <Badge BackgroundColor="@Theme.Success" Message="New" />
                            </sup>
                        </div>
                        <Breadcrumb AppPageLink="@EndPoint.SetupTransaction" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row">
                            <div class="col-sm-12 col-lg-8">
                                <SetupTransactionCategoryPanelLeft />
                            </div>
                            <div class="col-sm-12 col-lg-4 d-none d-lg-block">
                                <SetupTransactionCategoryPanelRight />
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
