@page "/tools"

@using MainApp.Components.Page
@using MainApp.Components.Badge
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Card
@using MainApp.Components.Message
@using MainApp.Components.Shared
@using MainApp.Components.Tools

<div class="container-fluid px-0">
    <AuthorizeView Policy="Admin">
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <div class="container-lg">
                        <PageTopWrapper>
                            <div class="d-flex align-items-baseline">
                                <i class="bi bi-boxes text-info-emphasis pe-1 fs-5" /><PageTopTitle Title="@(Label.AppMenuTools)" />
                            </div>
                        </PageTopWrapper>
                    </div>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="container-lg pb-5">
                            <div class="row gy-5">
                                <div class="col-sm-12">
                                    <InteractiveMap />
                                </div>
                            </div>
                        </div>
                        <div class="app-page-background-info mb-5 pb-5">
                            <div class="container-lg">
                                <div class="row gy-5">
                                    <div class="col-sm-12 col-lg-6">
                                        <InvestmentReturnCalculator InputFormAttributes="@_inputFormAttributes" />
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <TimesheetCalculator InputFormAttributes="@_inputFormAttributes" />
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <LVRCalculator InputFormAttributes="@_inputFormAttributes" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-lg pb-5">
                            <div class="row gy-5">
                                <div class="col-sm-12 col-lg-6">
                                    <TokenChecker />
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <SpinnerChecker />
                                </div>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
