<table class="app-table-calendar table table-bordered border-@(Theme.Light.ToString().ToLower())-subtle align-top mb-0 @(CalendarHasSubheader ? "caption-top app-table-calendar-height-with-subheader" : "h-100")">
    @CalendarSubHeaderView
    @CalendarHeaderView
    @CalendarBodyView
</table>
