@page "/dashboard"

@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Badge
@using MainApp.Components.Message
@using MainApp.Components.Chart.Bank
@using MainApp.Components.Chart.Expense
@using MainApp.Components.Chart.Transaction
@using MainApp.Components.Shared

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex align-items-baseline">
                            <i class="bi bi-house text-info pe-1 fs-5" /><PageTopTitle Title="Dashboard" />
                        </div>
                        <Breadcrumb AppPageLink="@EndPoint.Dashboard" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row g-3 pb-3">
                            <div class="col-12 col-md-8 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <ChartTransactionIO />
                                    </CardMiddle>
                                </CardView>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <SharedHeader Title="Feeds"
                                                      Icon="bi-rss"
                                                      IconColor="Theme.Primary"/>
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <div class="p-4 rounded bg-@(Theme.Danger.ToString().ToLower())-subtle text-@(Theme.Danger.ToString().ToLower())-emphasis">
                                                Coming soon 🎉
                                            </div>
                                        </div>
                                    </CardMiddle>
                                </CardView>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <ChartBankAccountActive />
                                    </CardMiddle>
                                </CardView>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <ChartBankBalanceSum />
                                    </CardMiddle>
                                </CardView>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <ChartExpenseLast5Years />
                                    </CardMiddle>
                                </CardView>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
