@page "/dashboard"

@using MainApp.Components.Page
@using MainApp.Components.Card
@using MainApp.Components.Breadcrumb
@using MainApp.Components.Badge
@using MainApp.Components.Message
@using MainApp.Components.Chart.Bank
@using MainApp.Components.Shared

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <PageTopTitle Title="Dashboard" />
                        <Breadcrumb AppPageLink="@EndPoint.Dashboard" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row g-3">
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <ChartBankAccountActive />
                                    </CardMiddle>
                                </CardView>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <ChartBankBalanceSum />
                                    </CardMiddle>
                                </CardView>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-sm-column flex-md-row justify-content-center">
                                <CardView Styles="w-100 border-0">
                                    <CardMiddle>
                                        <SharedHeader Title="Feeds"
                                                      Icon="bi-rss"
                                                      IconColor="Theme.Info"
                                                      BadgeBackgroundColor="@Theme.Warning"
                                                      BadgeTitle="Coming soon!" />
                                    </CardMiddle>
                                </CardView>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
